//背景顏色
$bg-color-white: #f8f8f8;
$bg-color-black: #333333;

//文字顏色
$text-color-lightGreen: #42b983;
$text-color-darkGreen: #2c3e50;
$text-color-black: #111111;
$text-color-white: #e4e4e4;

//字型
$font-family: 'Noto Sans TC', 'PingFang TC', 'Arial', unquote('微軟正黑體'),
  'sans-serif';

$text-size-menu: 25px;

$icon-size-menu: 36px;

$block-bg-black: #111111;

$loading-bg: rgba(0, 0, 0, 0.4);

$z-index-side-nav: 10;
$z-index-loading: 200;
