//背景顏色
$bg-color-brown: #818181;

//文字顏色
$text-color-lightGreen: #42b983;
$text-color-darkGreen: #2c3e50;
$text-color-black: #111111;

$text-size-menu: 25px;

$icon-size-menu: 36px;

$block-bg-black: #111111;

$loading-bg: rgba(0, 0, 0, 0.4);

$z-index-side-nav: 10;
$z-index-loading: 200;
