$text-color-skyblue: #87ceeb;
$text-color-lightgray: #d3d3d3;
$text-color-lightseagreen: #20b2aa;
$text-color-black: #111111;
$text-color-white: #f1f1f1;
$text-color-brown: #818181;

$text-size-menu: 25px;

$icon-size-menu: 36px;

$block-bg-black: #111111;

$loading-bg: rgba(0, 0, 0, 0.4);

$z-index-side-nav: 10;
$z-index-loading: 200;
