<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <base href=<%= htmlWebpackPlugin.options.baseHref %>>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content=<%= htmlWebpackPlugin.options.title %>>
    <link rel="apple-touch-icon" href="assets/icon-152x152.png">
    <!-- for Windows -->
    <meta name="msapplication-TileImage" content="assets/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <link rel="manifest" href="assets/manifest.json">
    <link rel="shortcut icon" href="assets/favicon.ico">
</head>
<body>
    <div id="app"></div>
</body>